body{
    font-family: Arial;
    font-size: 12;
    margin-left: 12%;
    margin-right: 12%;      
    border: 1px solid grey;/*    
    border-right: #c0c0c0 1px solid;
    border-top: #c0c0c0 1px solid;
    border-left: #c0c0c0 1px solid;
    border-bottom: #c0c0c0 1px solid;*/
    padding-right: 5px;
    padding-left: 5px;
}

table{
    font-family: Arial;
    font-size: 12;
}

h1 {
    font-family: Tahoma;
    font-size: 24;
    text-align: center;
}

h2 {
    font-size: 18;
}

h3 {
    font-size: 14;
}

h4 {
    font-size: 13;
}

h5 {
    font-size: 10;
}

.p3 {
    margin-left: 10px;
}

.inner-headings {
    margin-bottom: 5px;
}

.li-plain {
    list-style-type: none; 
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.align1 {
    padding-left: 10px; 
    margin-left: 10px;
}

.codebox {
    background: #F0F0F0;
    border: 1px solid grey;
    font-family: Courier;
    font:100% monospace;
    
}

.summary {
    background: #87AFC7;
}

.summary.text {
    padding-top: 10px;
    min-height: 60px;
}

.center {
    text-align: center;
}

.border {
    border: 1px solid grey;   
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 80%;
}

#content {
    padding-top: 20px;
}
